.about {
  display: flex;
  flex-direction: column;
  padding-bottom: 27px;
}

.about__txt {
  font-family: 'TTLakes regular';
  font-size: 14px;
  display: flex;
  gap: 16px;
  flex-direction: column;
  padding: 0 16px 16px 16px;
}

.about__txt-pad {
  display: none;
}

@media screen and (min-width: 768px) {
  .about {
    flex-direction: row;
    padding: 0 24px 27px 24px;
  }

  .about__txt {
    gap: 27px;
    padding: 0 48px 0 0;
  }

  .about__txt-pad {
    display: block;
  }

  .about__txt-pc {
    display: none;
  }

  .about__pic {
    border-radius: 6px;
    display: block;
    height: 27vw;
    max-height: 307px;
  }
  
}

@media (min-width: 1366px) {

  .about__txt-pc {
    display: inline;
  }
  
}