.btn {
  background-color: #FF3E79;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center;
  animation-name: btn-shadow-out, scale-out;
  animation-duration: 0.3s;
}

.btn:hover {
  animation-name: btn-shadow-in, scale-in;
  animation-duration: 0.3s;
  box-shadow: 0 0 10px 2px #fa6995;
  scale: 1.1;
}

.btn--pic--burger {
  background-image: url('../img/icon-burger.svg');
}

.btn--pic--burger::after {
  position: relative;
  left: 170px;
  display: block;
  content: "";
  width: 2px;
  height: 32px;
  border-radius: 4px;
  background-color: #EAEAEA;
}

.btn--pic--repair {
  background-image: url('../img/icon-repair.svg');
}

.btn--pic--status {
  background-image: url('../img/icon-status.svg');
}

.btn--pic--call {
  background-image: url('../img/icon-call.svg');
}

.btn--pic--chat {
  background-image: url('../img/icon-chat.svg');
}

.btn--pic--profile {
  background-image: url('../img/icon-profile.svg');
}

.btn-with-text {
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: #F8F8F8;
  font-family: 'TTLakes medium';
  font-size: 16px;
}

.head__btn--pic--repair {
  position: absolute;
  right: 72px;
  top: 24px;
}

.head__btn--pic--status {
  position: absolute;
  right: 16px;
  top: 24px;
}

.btn--pic--close::after {
  display: block;
  content: "";
  position: relative;
  left: 18.5px;
  bottom: 13px;
  height: 22px;
  width: 2.5px;
  background-color: #fff;
  rotate: 45deg;
  border-radius: 2px;
}

.btn--pic--close::before {
  display: block;
  content: "";
  position: relative;
  left: 18.5px;
  top: 9px;
  height: 22px;
  width: 2.5px;
  background-color: #fff;
  rotate: -45deg;
  border-radius: 2px;
}

.btn--pic--search {
  background-image: url('../img/icon-search.svg');
}

.menu-head__btn--icon--search {
  margin-left: auto;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {

  .btn--pic--burger::after {
    left: 60px;
  }

  .head .btn--pic--profile::after {
    position: relative;
    left: 60px;
    display: block;
    content: "";
    width: 2px;
    height: 32px;
    border-radius: 4px;
    background-color: #EAEAEA;
  }

  .head__btn--pic--repair {
    right: 80px;
  }

  .head__btn--pic--status {
    right: 24px;
  }

}

@media (min-width: 1366px) {

  .btn-wrap .btn {
    animation-name: btn-shadow-out;
    animation-duration: 0.3s;
  }

  .btn-wrap:hover .btn {
    animation-name: btn-shadow-in;
    animation-duration: 0.3s;
    box-shadow: 0 0 10px 2px #fa6995;
  }

  .btn__txt {
    line-height: 40px;
    font-family: 'TTLakes medium';
    font-size: 16px;
  }

  .head__btn--pic--repair {
    position: static;
  }

  .btn--pic--repair {
    animation: none;
  }

  .btn--pic--repair:hover {
    animation: none;
    box-shadow: 0 0 0 0 #fff;
    scale: 1;
  }

  .head__btn--pic--status {
    position: static;
  }

  .btn--pic--status {
    animation: none;
  }

  .btn--pic--status:hover {
    box-shadow: 0 0 0 0 #fff;
    scale: 1;
    animation: none;
  }

}