.content-wrap {
  position: relative;
  max-width: 1120px;
  font-size: 0;
  margin: 0 auto;
  background-color: #f8f8f8;
}

@media (min-width: 1440px) {
  .content-wrap {
    margin-right: calc((100vw - 320px - 1120px) / 2);
  }
}