.lang {
  display: flex;
  gap: 7px;
  font-family: 'TTLakes medium';
  font-size: 16px;
}

.lang__btn {
  animation-name: scale-out;
  animation-duration: 0.3s;
  background-color: inherit;
  cursor: pointer;
}

.lang__btn:hover {
  animation-name: scale-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.lang__btn--active {
  color: #7E7E82;
  animation: none;
}

.lang__btn--active:hover {
  animation: none;
}