.mail {
  display: inline-block;
  font-family: 'TTLakes medium';
  font-size: 16px;
  font-style: normal;
  animation-name: txt-color-7E7E82-out;
  animation-duration: 0.3s;
}

.mail:hover {
  animation-name: txt-color-7E7E82-in;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}