.nav {
  padding: 24px 0 24px 16px;
}

.nav__list {
  display: flex;
  overflow-x: scroll;
}

.nav__elem {
  height: 40px;
  font-family: 'TTLakes medium';
  font-size: 16px;
  color: #7E7E82;
  list-style-type: none;
  padding: 8px 16px;
  animation-name: txt-color-000-out;
  animation-duration: 0.3s;
}

.nav__elem:hover {
  animation-name: txt-color-000-in;
  animation-duration: 0.3s;
  color: #000;
}

.nav__elem--active {
  border: 2px solid #B8FFEC;
  border-radius: 6px;
  padding: 6px 16px;
  animation: none;
}

.nav__elem--active:hover {
  animation: none;
  color: #7E7E82;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {

  .nav {
    padding: 32px 0 32px 24px;
  }

}

@media (min-width: 1366px) {

  .nav {
    padding: 8px 32px 16px 32px;
  }

  .nav__list {
    flex-wrap: wrap;
    overflow-x: hidden;
  }

}