.page-title {
  display: inline-block;
  font-family: 'TTLakes bold';
  font-size: 28px;
  padding-top: 24px;
  padding-left: 12px;
  vertical-align: top;
}

.page-title::before {
  position: relative;
  top: 8px;
  right: 12px;
  display: inline-block;
  content: "";
  width: 4px;
  height: 40px;
  background-color: #41F6D7;
  border-radius: 0 4px 4px 0;
}

@media screen and (min-width: 768px) and (max-width: 1439px) {

  .page-title {
    padding-left: 20px;
  }

  .page-title::before {
    right: 20px;
  }

}

@media (min-width: 1440px) {

  .page-title {
    padding: 0 0 0 28px;
  }

  .page-title::before {
    right: 28px;
  }

}