@media (min-width: 1366px) {

  .btn-wrap {
    animation-name: scale-out;
    animation-duration: 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .btn-wrap:hover {
    animation-name: scale-in;
    animation-duration: 0.3s;
    scale: 1.1;
  }

  .title-btn-wrap__btn-wrap {
    margin-left: auto;
  }

}