.head {
  display: flex;
  gap: 16px;
  align-items: center;
  height: 88px;
  padding: 18.59px 16px;
  border-bottom: 1px solid #D9FFF5;
  background-color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 1365px) {

  .head {
    gap: 42px;
    padding-right: 162px;
    padding-left: 24px;
  }
  
}

@media (min-width: 1366px) {

  .head {
    display: none;
  }

}